.google.token
google_calendars.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
zwcfg_0xd30a70fa.xml
zwscene.xml
webostv.conf
secrets.yaml
custom_components/
.vs/
.storage/
*.sqlite
OZW_Log.txt
components/shell_commands/turn_off_pc.yaml
www/community
themes/
home-assistant_v2.db-wal
.shopping_list.json
home-assistant_v2.db-shm
*.august.conf
themes/slate/slate.yaml
